html,body{
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.display-inline-block{
    display: flex;
    margin-top:10px;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}
.chat-row{
    background-color: #ebd9eb;
    padding: 2vw;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    border-top: solid 1px rgb(211, 211, 211);
    border-bottom :  solid 1px rgb(211, 211, 211);
    cursor: pointer;
}
.chat-row:hover{
    background-color: #eccdec;
}
.pp{
    width: auto;
    height: 400px;
    background-color: gray;
    max-height: 18vw;
    margin-left: 10%;
    border-radius: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 8vw;
}