html,body{
    margin:0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 2vw;
}
.nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav div:nth-child(3){
    justify-content: start;
}
.pp{
    /* width: 100%; */
    max-height: 18vw;
    margin-left: 10%;
    border-radius: 10vw;
}