html,body{
    margin:0;
    box-sizing: border-box;
    overflow: hidden;
}
.nav{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 2vw;
    background-color: white;
    margin: 0;
    box-shadow: 0 8px 8px -4px rgb(88, 87, 87);
    position: fixed;
    top: 0;
    left: 0;
}
.nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav div:nth-child(3){
    justify-content: start;
}
.pp{
    width: 50px;
    height: 50px;
    background-color: gray;
    /* max-height: 18vw; */
    /* margin-left: 10%; */
    border-radius: 30px;
}
.sendbox{
    width: 100%;
    background-color: bisque;
    position: fixed;
    bottom:0;
    left:0;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 99%;
}
.body{
    background-color: white;
}
.chats{
    background-color: #ebd9eb;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}
.chatbox{
    max-width: 80%;
    border-radius: 30px;
    background-color: white;
    padding: 20px;
}
.bubble{
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    float: left;
    gap: 8px;
}
.mybubble{
    float: right;
    justify-content: end;
}
.mybubble .chatbox{
    background-color:#e8907d;
    
}
.write{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.write textarea{
    width: 90%;
    border: none;
    border: solid gray 1px;
    padding: 10px;
    border-radius: 30px;
    resize: none;
    padding-top:2px ;
    padding-bottom:2px ;
}
.write textarea:focus{
    outline: none !important;
    border:1px solid rgb(251, 190, 36);
    box-shadow: 0 0 1px rgb(251, 190, 36);
}
.send{
    cursor: pointer;
}
@media(min-width: 720px){
    .pp{
        height: 50px;
    }
    .nav{
        padding:5px;
    }
    .nav .col-8{
        /* justify-content: start; */
        align-items: flex-start;
    }
}
@media(max-width: 719px){
    .write textarea{
        width: 80%;
    }
}